/* Global Classes */
.floatleft {
    float: left !important;
}

.floatright {
    float: right !important;
}

.nofloat {
    float: none !important;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

.hide {
    display: none !important;
}

.show{
    display: unset !important;
}

.displayblock {
    display: block !important;
}

.centeritem {
    margin: 0 auto !important;
}

.colorize {
    background: #F00 !important;
}

.text-shadow-black {
    text-shadow: #000 1px 1px !important;
}

.colorize2 {
    background: #33cc00 !important;
}

.colorize3 {
    background: #0033ff !important;
}

.colorize4 {
    background: #ffcc00 !important;
}

.border {
    border: #000 solid 1px !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.bottomline {
    border-bottom: #000 solid 1px !important;
}

.red {
    background: #F00 !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold !important;
}

.fontcolor_orange {
    color: #ffcc00 !important;
}

.fontcolor_black {
    color: #000 !important;
}

.fontcolor_red {
    color: #F00 !important;
}

.fontcolor_blue {
    color: #0033ff !important;
}

.fontcolor_lightblue {
    color: #00a0dd !important;
}

.fontcolor_darkred {
    color: #d10000 !important;
}

.fontcolor_green {
    color: #29dc15 !important;
}

.fontcolor_white {
    color: #FFF !important;
}

.fontcolor_white_shadow {
    color: #FFF !important;
    text-shadow: #000 1px 1px !important;
}

.font-2x {
    font-size: 2em !important;
}

.font-3x {
    font-size: 3em !important;
}

.font-4x {
    font-size: 4em !important;
}

.font-5x {
    font-size: 5em !important;
}

.font-pixel22 {
    font-size: 22px !important;
}
a, input, select, textarea, button, img{
    outline: none !important;
}
a {
    text-decoration: none !important;
}

a:visited, a:active, a:focus, a:hover {
    text-decoration: none !important;
}

.centertext {
    text-align: center !important;
}

.rightborder {
    border-right: #000 solid 1px !important;
}

.overflowy {
    overflow-y: auto !important;
}

.overflowx {
    overflow-x: auto !important;
}

.overflow {
    overflow: auto !important;
}

.background-white {
    background: #FFF !important;
}

.centerize {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.centerize100prc {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    width: 96% !important;
    -webkit-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%) !important;
}

.inline-block {
    display: inline-block !important;
}

.capatalize {
    text-transform: capitalize !important;
}

.linethrough {
    text-decoration: line-through !important;
}

.cursordefault {
    cursor: default !important;
}

.cursorclick {
    cursor: pointer !important;
}

.cursordenied {
    cursor: not-allowed !important;
}

/*#region Inside Padding */

.padding1 {
    padding: 1px !important;
}

.padding2 {
    padding: 2px !important;
}

.padding3 {
    padding: 3px !important;
}

.padding4 {
    padding: 4px !important;
}

.padding5 {
    padding: 5px !important;
}

.padding6 {
    padding: 6px !important;
}

.padding7 {
    padding: 7px !important;
}

.padding8 {
    padding: 8px !important;
}

.padding9 {
    padding: 9px !important;
}

.padding10 {
    padding: 10px !important;
}

/*#endregion */

.bottommargin {
    margin-bottom: 5px !important;
}

.doublebottommargin {
    margin-bottom: 20px !important;
}

.triblemargin {
    margin-bottom: 40px !important;
}

.topmarginmobile {
    margin-top: 30px !important;
}

.margintopbottom{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.noselect {
    user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
}

.displayinline {
    display: inline !important;
}

.displayinlineblock {
    display: inline-block !important;
}
/* Mobile */
@media screen and (max-width: 767px) {
    .nomobile {
        display: none !important;
    }

    .nomobilefloat {
        float: none !important;
    }

    .centermobile {
        text-align: center !important;
    }

    .leftmobile {
        text-align: left !important;
    }

    .rightmobile {
        text-align: right !important;
    }

    .mobilebottommargin {
        margin-bottom: 5px !important;
    }

    .topmargin {
        margin-top: 10px !important;
    }
    .fullwidthmobile{
        display: block !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .notablet {
        display: none !important;
    }

    .notabletfloat {
        float: none !important;
    }

    .textright_tablet {
        text-align: right !important;
    }

    .centertablet {
        text-align: center !important;
    }

    .mobilebottommargin {
        margin-bottom: 5px !important;
    }
}
/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .nodesktop {
        display: none !important;
    }

    .mobilebottommargin {
        margin-bottom: unset !important;
    }

    .nodesktopfloat {
        float: none !important;
    }

    .rightpadding {
        padding-right: 5px !important;
    }

    .leftpadding {
        padding-left: 5px !important;
    }

    .rightpadding10px {
        padding-right: 10px !important;
    }

    .leftpadding10px {
        padding-left: 10px !important;
    }

    .rightpadding15px {
        padding-right: 15px !important;
    }

    .leftpadding15px {
        padding-left: 15px !important;
    }

    .rightpadding20px {
        padding-right: 20px !important;
    }

    .leftpadding20px {
        padding-left: 20px !important;
    }
    .centerdesktop{
        text-align: center;
    }
}
/* X-Large Desktop */
@media screen and (min-width: 1200px) {
    .rightpaddingxlarge {
        padding-right: 5px !important;
    }

    .paddingbottom {
        padding-bottom: 5px !important;
    }
}
